@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --main-bg-color:#273264;
  --second-bg-color:#293E8F;
  --light-bg-color:#F5F6FC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.app {
  display:flex;
}

main {
  width: 100%;
  background-color: var(--light-bg-color);
}

.content-section {
  margin: 1rem 2rem
}

/* Button */
.button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  margin: 0 0.5rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.button:focus {
  outline: none;
}
