@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --main-bg-color:#273264;
  --second-bg-color:#293E8F;
  --teal-color:#56A9D3;
  --light-bg-color:#F5F6FC;
  --grey-color:#DCDCDC;
  --main-font: 'Poppins', sans-serif
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--main-font);
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.app {
  display:flex;
}

main {
  width: 100%;
  background-color: var(--light-bg-color);
}

.content-section {
  max-width: 1170px;
  margin: 2rem auto;
  width: 90%;
}

.button {
  display:inline-block;
  font-family: var(--main-font);
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.button:focus {
  outline: none;
}