@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --main-bg-color:#273264;
  --second-bg-color:#293E8F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.app {
  display:flex;
}

main {
  width: 100%;
}